
body
{
	font-family: verdana, sans-serif;
	background-color:#272727;
	text-align: center;
}

	
#container
{
width: 1000px;
margin-left: auto;
margin-right: auto;
}

#logo	
{
color: white;
margin-top: 25px;
font-size: 70px;
letter-spacing: 10px;
font-weight: 900;
}

#menu
{
margin-top: 20px;
color: white;
letter-spacing: 5px;
}

#topbar
{
color:white;
}

#topbarleft
{

float: left;
padding: 15px;
width: 398px;
text-align:justify;
border-right: 2px dotted #ffff00;
font-size: 17px;
margin-top: 50px;
}

#topbarleftkontakt
{
float: left;
padding: 15px;
width: 398px;
text-align:left;
border-left: 3px dotted #ffff00;
font-size: 25px;
margin-top: 50px;
font-weight: 550;
letter-spacing: 1px;

}

#topbarright
{
float: left;
width: 500px;
padding: 15px;
margin-top: 50px;

}

#content
{
margin-top: 30px;
margin-bottom: 30px;
margin-left: autro;
margin-right: autro;
}

#contentnajszybsze
{
font-size: 20px;
color: white;
text-align: left;
letter-spacing:1px;
}

#contentnajdrozsze
{
text-align: center;
color: white;
font-family: Courier New;
font-size: 25px;
letter-spacing: 1px;
}

h1
{
color: #ffff80;
text-align: center;
}
.table1
{
border: 1px solid #ffff00;
text-align: center;
letter-spacing: 2px;
font-size: 25px;
margin: auto;
width: 1000px;
color:white;
margin-bottom: 30px;
border-collapse: collapse;
background-color: #171717;
}

.table2
{
border: 1px solid #ffff00;
text-align: center;
letter-spacing: 2px;
font-size: 25px;
margin: auto;
width: 1000px;
color:white;
margin-bottom: 30px;
border-collapse: separate;
background-color: #171717;
}

.table1 td
{
border: 1px dotted #ffff00
}

.table2 td
{
border: 1px dotted #ffff00
}

.foto
{
border-right: 5px solid #ffff00;
border-left: 5px solid #ffff00;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}

.foto:hover
{
opacity:0.7;
filter:alpha(opacity=50);
}

.foto2
{
-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease;
border-right: 5px solid #ffff00;
border-left: 5px solid #ffff00;
height: 195px;
width: 318px;
}
.foto2:hover
{
.post img:hover 
-o-transition: all 0.6s;
-moz-transition: all 0.6s;
-webkit-transition: all 0.6s;
-moz-transform: scale(1.5);
-o-transform: scale(1.5);
-webkit-transform: scale(1.5);
}

.foto3
{
width: 1000px;
height: 400px;
margin-bottom: 30px;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease
; -o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}

.foto3:hover
{
opacity:0.4;
filter:alpha(opacity=40);
}

#stopka
{
text-align: center;
color: white;
background-color: #171717;
letter-spacing: 2px;
font-family: arial, sans-serif;
text-decoration: underline;
padding: 20px;
font-size: 18px;
width: 965px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}

.option
{
width: 965px;
height: 15px;
font-size: 20px;
padding: 15px;
border-right: 3px solid #ffff00;
border-left: 3px solid #ffff00;
font-weight: 700;
background-color: #171717;
margin-bottom: 2px;
}

.option:hover
{
background-color: #ffff00;
cursor: pointer;
color: black;
}

ol
{
color: white;
text-align: justify;
list-style-type: circle;
font-size: 20px;
letter-spacing:1px;
}

a:visited 
	{
	color: #272727;
	}
a:hover 
	{
	color: black;
	}
a:link
	{
	color: white
	}
a
{
text-decoration: none;
}	